
body{
    background-color: #EAE6FD;
}

#input1{
    margin-left: 550px;
    margin-top: 50px;
    margin-right: 550px;
}
#input2{
    margin-left: 550px;
    margin-top: 25px;
    margin-right: 550px;
}
#islem{
    margin-left: 565px;
    margin-right: 550px;
    margin-top: 25px;
}
#sonuc{
    margin-left: 650px;
    margin-top: 25px;
    
}
#gecmis{
    margin-left: 600px;
}